<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body id="body">
    
    <%- include('../components/modal-sale') %> 
    <%- include('../components/imgenmodal') %> 
    <%- include('../layout/header') %>

    <div class="bill">
        <p class="bill__title"><b>PERFIL</b></p>
        <div class="bill__max">
            <div class="bill__maxback">
                <a href="factura.html" class="color--VeSe"><span class="icon-ctrl bill__maxctrl"></span><b>Volver</b></a>
            </div>
            <div class="bill__maxcompa">
                <img src="assets/img/carro.png" class="bill__maxcompaimg">
                <div class="bill__maxcontmargin bill__maxcontmargintop">
                    <p class="bill__maxcompatitle color--VeSe">iPhone 7 32GB Negro Mate</p>
                    <p class="bill__maxcompatext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="bill__maxcompacale">
                        <img src="assets/img/calendario.png" class="bill__maxcompacaleimg">
                        <p class="bill__maxcontmargin"><b>Válido hasta</b><br>26 de Junio, 2018</p>
                    </div>
                    <button onclick="addimg()" class="bill__maxbutton bill__maxbuttoncompa"><span class="icon-camera">   </span>Agregar Factura</button>
                </div>
            </div>
            <p><b>Facturas en esta Campaña</b></p>
            <%- include('../components/facturas') %>
            <div>
                <p class="bill__maxtext">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            </div>
        </div>
    </div>

    <%- include('../layout/footer') %> 

    <%- include('../partials/scripts') %>
    
</body>
</html>